// @colorA: "red"; // less 定义变量
// @colorB: "yellow";

.container{
    display: flex;
    .nav-left{
        width: 15%;
        min-width: 180px;
        height: calc(100vh);
        background: #001529;
    }
    .main{
        background-color: #f1f3f5;
    }
    .content{
        position: relative;
        padding: 20px;
    }
}